<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - PC Builder</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Source+Sans+Pro:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/home.css">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;600&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PC BUILDER</title>
    <script src="https://kit.fontawesome.com/ae8f1db1af.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
    <nav class="topbar">
        <div class="flex-container-left">
        <span class="product-name centre-txt">
                  <h3>PC<span style="color: white;">Builder</span></h3>       
        </span>

        <div class="elements flex-container-right">
            <span class="txt-space centre-txt active">
                <a  href="">
                    <h3>Build your own PC</h3>
                </a>
            </span>
            <span class="txt-space centre-txt">
                <a  href="/doc"">
                    <h3>Documentation</h3>
                </a>
            </span>
            
            <span class="txt-space centre-txt">
                <a  href="">
                    <h3>Custom</h3>
                </a>
            </span>
        </div>
    </div>
    </nav>
</header>
    <br>
    <br>
    <br>
    <section >
        <div class="build-sec">
            <div class="build-pictx">
                <a> <img src="images/NZXT PC.png" alt="MOBILE GAMERS ARE NOT REAL GAMERS" class="mainpic"></a>
                <span><h1>Finding perfect match to your desktop needs made easy</h1></span>
            </div>
            <div>
                <input type="image" src="images/BYO Button.png" width="500px" onclick="location.href='./build'" name="Build Your Own">
            </div>
        </div>   
    </section>
    <br>
    <br>
    <section class="pre-cust-sec ">
        <div>
            <a href="/prebuild" ><img src="images/prebuilds.png" alt="Console gamers suck too" class="image_cust_doc"></a>
        </div>
        <div class="vl"><br></div >
        <div class="hl">
            <a href="/doc"><img  src="images/documentation.png"  alt="Console gamers suck too" class="image_cust_doc"></a>
        </div>
    </section>
</body>
</html>