<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/prebuild.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script>

        $(function() {
    
    
       var people = [];
    
       $.getJSON('../build_data/prebuild.json', function(data) {
           
    
       });
    
    });
    </script>
    <title>Document</title>
</head>
<body>
    sad
    <header>
        <nav class="topbar">
            <div class="flex-container-left">
            <span class="product-name centre-txt">
                      <h3>PC<span style="color: white;">Builder</span></h3>       
            </span>
    
            <div class="elements flex-container-right">
                <span class="txt-space centre-txt active">
                    <a  href="">
                        <h3>Build your own PC</h3>
                    </a>
                </span>
                <span class="txt-space centre-txt">
                    <a  href="/doc"">
                        <h3>Documentation</h3>
                    </a>
                </span>
                
                <span class="txt-space centre-txt">
                    <a  href="">
                        <h3>Custom</h3>
                    </a>
                </span>
            </div>
        </div>
        </nav>
    </header>
</body>
</html>