<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/doc.css">
    <title>Documentation</title>
</head>
<body>
    <div class="container">
        <div class="index">
            <div class="link-str">

                <li><a href="#cpu">CPU</a></li>

                <details>
                    <summary><a href="#mb-0">Motherboard</a></summary>
                    <li><a href="#mb-1">Choosing the right motherboard socket</a></li>
                    <li><a href="#mb-2">Choosing the right chipset</a></li>
                    <li><a href="#mb-3">Anything else you should know?</a></li>
                </details>

                <details>
                    <summary><a href="#gpu-0">GPU</a></summary>
                    <li><a href="#gpu-1">What Does a GPU do?</a></li>
                    <li><a href="#gpu-2">GPU and CPU: Working Together</a></li>
                    <li><a href="#gpu-3">GPU vs. Graphics Card: What’s the Difference?</a></li>
                    <li><a href="#gpu-4">Integrated Graphics Processing Unit</a></li>
                    <li><a href="#gpu-5">What are GPUs used For?</a></li>
                    <li><a href="#gpu-6">CPU Bottleneck</a></li>
                </details>

                <details>
                    <summary><a href="#cooler-0">CPU Cooling</a></summary>
                    <li><a href="#cooler-1">Cooling with Air</a></li>
                    <li><a href="#cooler-2">Cooling with Liquid</a></li>
                    <li><a href="#cooler-3">Which Is Right for You?</a></li>
                    <li><a href="#cooler-4"></a></li>
                </details>

            </div>
        </div>
        <div class="documentation">

            <div id="cpu" class="section">
                <h1>CPU</h1>
                <p>A central processing unit (CPU), also called a central processor, main processor or just processor, is the electronic circuitry that executes instructions comprising a computer program.</p>
                <p>&nbsp;</p>
                <p>When you are choosing your cpu you should keep your keep your workflow in mind</p>
                <p>&nbsp;</p>
                <table>
                    <tbody>

                        <tr>
                            <th>Parameters</th>
                            <th>Intel</th>
                            <th>AMD</th>
                        </tr>

                        <tr>
                            <td>Gaming</td>
                            <td>✔️</td>
                            <td>✔️</td>
                        </tr>

                        <tr>
                            <td>Content Creation/Productivity</td>
                            <td></td>
                            <td>✔️</td>
                        </tr>

                        <tr>
                            <td>Specifications</td>
                            <td></td>
                            <td>✔️</td>
                        </tr>

                    </tbody>
                </table>
                <p>&nbsp;</p>
                <p>Intel CPUs have advantage in gaming and overclocking and single threaded tasks while AMD has advantage in multi threaded tasks.</p>
                <p>&nbsp;</p>
                <table>
                    <tbody>
                        <tr>
                            <th>Processor Pricing by Family</th>
                            <th>AMD</th>
                            <th>Intel</th>
                        </tr>

                        <tr>
                            <td>Threadripper - Cascade Lake-X</td>
                            <td>$900- $3,750</td>
                            <td>$800 - $1,000 ($2,999)</td>
                        </tr>
                        
                        <tr>
                            <td>AMD Ryzen 9 - Intel Core i9</td>
                            <td>$434 - $799</td>
                            <td>$422 - $549</td>
                        </tr>

                        <tr>
                            <td>AMD Ryzen 7 - Intel Core i7</td>
                            <td>$294 -$449</td>
                            <td>$298 - $409</td>
                        </tr>

                        <tr>
                            <td>AMD Ryzen 5 - Intel Core i5</td>
                            <td>$149 - $299</td>
                            <td>$157 - $272</td>
                        </tr>

                        <tr>
                            <td>AMD Ryzen 3 - Intel Core i3</td>
                            <td>$95 - $120</td>
                            <td>$97 - $154</td>
                        </tr>

                    </tbody>
                </table>
                <p>&nbsp;</p>
                <p>While buying any cpu you should keep in mind that all Intel CPUs have an integrated gpu in them while for AMD only the CPUs with a G as suffix have an integrated gpu so of you buy an AMD CPU like 3600 or 5600x you will need an external GPU.</p>
            </div>

            <p>&nbsp;</p>

            <div id="mb-0" class="section">
                <h1>Motherboard</h1>
                <p>A motherboard (also called mainboard, main circuit board,or mobo) is the main printed circuit board (PCB) in general-purpose computers and other expandable systems. It holds and allows communication between many of the crucial electronic components of a system, such as the central processing unit (CPU) and memory, and provides connectors for other peripherals.</p>
            </div>
            <p>&nbsp;</p>
            <div id="mb-1" class="section">
                <h1>Step 1: Choosing the right motherboard socket</h1>
                <p>While choosing a motherboard the most important factor you should keep in mind is your CPU. Intel and AMD use different sockets for their cpu, for Intel its LGA 1200 and  LGA 1700( for the new Alder Lake / 12th gen CPUs) and for AMD we use the AM4 socket.</p>
                <p>&nbsp;</p>
                <p>Here are all the processors that will fit Intel’s LGA 1200 socket, including both 11th Gen and 10th Gen models:</p>
                
                <p>&nbsp;</p>

                <table>
                    <tbody>

                        <tr>
                            <th>core i3</th>
                            <th>Core i5</th>
                            <th>Core i7</th>
                            <th>Core i9</th>
                        </tr>

                        <tr>
                            <td>Core i3-11320</td>
                            <td>Core i5-11600K</td>
                            <td>Core i7-11700K</td>
                            <td>Core i9-11900K</td>
                        </tr>

                        <tr>
                            <td>Core i3-11300T</td>
                            <td>Core i5-11600KF</td>
                            <td>Core i7-11700KF</td>
                            <td>Core i9-11900KF</td>
                        </tr>

                        <tr>
                            <td>Core i3-11300</td>
                            <td>Core i5-11600</td>
                            <td>Core i7-11700</td>
                            <td>Core i9-11900</td>
                        </tr>

                        <tr>
                            <td>Core i3-11100T</td>
                            <td>Core i5-11500</td>
                            <td>Core i7-10700K</td>
                            <td>Core i9-10900K</td>
                        </tr>

                        <tr>
                            <td>Core i3-11100</td>
                            <td>Core i5-11400</td>
                            <td>Core i7-10700KF</td>
                            <td>Core i9-10900KF</td>
                        </tr>

                        <tr>
                            <td>Core i3-10320</td>
                            <td>Core i5-10600K</td>
                            <td>Core i7-10700</td>
                            <td>Core i9-10900</td>
                        </tr>

                        <tr>
                            <td>Core i3-10300</td>
                            <td>Core i5-10600KF</td>
                            <td>Core i7-10700F</td>
                            <td>Core i9-10900F</td>
                        </tr>

                        <tr>
                            <td>Core i3-10100</td>
                            <td>Core i5-10600</td>
                            <td></td>
                            <td>Core i9-10850K</td>
                        </tr>

                        <tr>
                            <td>i3-10100F</td>
                            <td>Core i5-10500</td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <td></td>
                            <td>Core i5-10400</td>
                            <td></td>
                            <td></td>
                        </tr>

                    </tbody>
                </table>

                <p>&nbsp;</p>
                <p>Here is a list of AM4 friendly parts:</p>
                <p>&nbsp;</p>

                <table>
                    <tbody>

                        <tr>
                            <th>Ryzen 3</th>
                            <th>Ryzen 5</th>
                            <th>Ryzen 7</th>
                            <th>Ryzen 9</th>
                        </tr>

                        <tr>
                            <td>Ryzen 3 3300X</td>
                            <td>Ryzen 5 5600X</td>
                            <td>Ryzen 7 5800X</td>
                            <td>Ryzen 9 5950X</td>
                        </tr>

                        <tr>
                            <td>Ryzen 3 3100</td>
                            <td>Ryzen 5 5600G</td>
                            <td>Ryzen 7 5700G</td>
                            <td>Ryzen 9 5900X</td>
                        </tr>

                        <tr>
                            <td></td>
                            <td>Ryzen 5 3600XT</td>
                            <td>Ryzen 7 3800XT</td>
                            <td>Ryzen 9 3950X</td>
                        </tr>

                        <tr>
                            <td></td>
                            <td>Ryzen 5 3600X</td>
                            <td>Ryzen 7 3800X</td>
                            <td>Ryzen 9 3900XT</td>
                        </tr>

                        <tr>
                            <td></td>
                            <td>Ryzen 9 3900XT</td>
                            <td>Ryzen 7 3700X</td>
                            <td>Ryzen 9 3900X</td>
                        </tr>

                    </tbody>
                </table>

            </div>
       
            <p>&nbsp;</p>
       
            <div id="mb-2" class="section">
                <h1>Step 2: Choosing the right chipset</h1>
                <p>So we’ve narrowed down the type of motherboard socket you need. The next thing is deciding which chipset to go for. This is the circuitry inside the motherboard itself. Without going into too much technical detail, a motherboard’s chipset essentially determines what kind of features it has, including the types of ports and storage connectivity it provides. They’re also usually designed to work with a particular family of processors, and often get released around the same time as their corresponding CPU family.</p>
                <p>&nbsp;</p>
                <p>Intel in particular likes to make things complicated, always launching new chipset series alongside new CPU generations. The most recent of these is the 600 series, which for now is replaced solely by the Z690 chipset, though lower-end alternatives are likely to come later.</p>
                <p>&nbsp;</p>
                <p> You can see in the table below which Intel chipsets are compatible with which Intel CPUs:</p>
                <p>&nbsp;</p>

                <table>
                    <tbody>

                        <tr>
                            <th>Chipset</th>
                            <th>10th Gen Comet Lake</th>
                            <th>11th Gen Rocket Lake</th>
                            <th>12th Gen Alder Lake</th>
                        </tr>

                        <tr>
                            <td>Z690</td>
                            <td>❌</td>
                            <td>❌</td>
                            <td>Yes</td>
                        </tr>
                        
                        <tr>
                            <td>Z590</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>❌</td>
                        </tr>

                        <tr>
                            <td>H570</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>❌</td>
                        </tr>

                        <tr>
                            <td>B560</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>❌</td>
                        </tr>

                        <tr>
                            <td>H510</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>❌</td>
                        </tr>

                        <tr>
                            <td>Z490</td>
                            <td>Yes</td>
                            <td>Yes (may not support PCIe 4.0)</td>
                            <td>❌</td>
                        </tr>

                        <tr>
                            <td>H470</td>
                            <td>Yes</td>
                            <td>Yes (may not support PCIe 4.0)</td>
                            <td>❌</td>
                        </tr>

                        <tr>
                            <td>B460</td>
                            <td>Yes</td>
                            <td>❌</td>
                            <td>❌</td>
                        </tr>

                        <tr>
                            <td>H410</td>
                            <td>Yes</td>
                            <td>❌</td>
                            <td>❌</td>
                        </tr>

                    </tbody>
                </table>

                <p>&nbsp;</p>

                <p>As for AMD, the latest Ryzen 5000 processors didn’t launch with an all-new chipset: they were designed for AMD’s existing 500 series chipsets, which already worked with the Ryzen 3000 family. They're also compatible with some older 400 series chipsets after a BIOS update, but this will vary between motherboards and manufacturers, so be sure to check it definitely has Ryzen 5000 support before you buy.</p>
                <p>&nbsp;</p>

                <p>In other words, you won’t necessarily need to swap out your existing AM4 motherboard if you’re upgrading from Ryzen 3000 to Ryzen 5000, but for most 5000 adopters it’s probably easier to just buy a 500 series board.</p>
                <p>&nbsp;</p>

                <p>Here's how the Ryzen chips work with the Ryzen chipsets:</p>
                <p>&nbsp;</p>

                <table>
                    <tbody>

                        <tr>
                            <th>Chipset</th>
                            <th>Ryzen 3000</th>
                            <th>Ryzen 5000</th>
                        </tr>

                        <tr>
                            <td>X570</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>

                        <tr>
                            <td>B550</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>

                        <tr>
                            <td>A520</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>

                        <tr>
                            <td>X470</td>
                            <td>Yes</td>
                            <td>Selective Beta BIOS update needed</td>
                        </tr>

                        <tr>
                            <td>B450</td>
                            <td>Yes</td>
                            <td>Selective Beta BIOS update needed</td>
                        </tr>

                        <tr>
                            <td>X370</td>
                            <td>Selective Beta BIOS update needed</td>
                            <td>❌</td>
                        </tr>

                        <tr>
                            <td>B350</td>
                            <td>Selective Beta BIOS update needed</td>
                            <td>❌</td>
                        </tr>

                    </tbody>
                </table>
            </div>

            <p>&nbsp;</p>

            <div id="mb-3" class="section">
                <h1>Anything else you should know?</h1>
                <p>&nbsp;</p>
                
                <p>From there, it’s pretty much up to you what kind of extra features you go for. Some motherboards like the Gigabyte X570 Aorus Master have additional overclocking tools, such as an LED troubleshooting display and onboard power/reset buttons, while many more include pre-mounted I/O boards for a neater finish round the back of your PC.</p>
                <p>&nbsp;</p>
                
                <p>It probably goes without saying that you should also pick a motherboard that actually fits inside your intended case. There’s no point buying an ATX-size motherboard when you’ve got a small form-factor or mini-tower case, nor is there much sense in buying a jumbo full tower case for a tiddly mini-ITX motherboard.</p>
                <p>&nbsp;</p>

                <p>As to whether PCIe 4.0 support is a must-have… I’d say not at this exact moment, mainly because you can get some excellent PCIe 3.0 SSDs (like the WD Blue SN570) that are plenty fast enough. Both 3.0 and 4.0 SSDs will also be able to play nice with DirectStorage, an exciting piece of Microsoft tech that could see loading times in games slashed to ribbons. It’s not actually supported in any games yet, but you won’t have to base your motherboard choice on it.</p>
                <p>&nbsp;</p>

                <p>Of course, PCIe 4.0 is still faster in general, and if you’ve buying an Intel 12th Gen Alder Lake CPU, you should get 4.0 support as standard, whatever motherboard you pair it with.</p>
            </div>

            <p>&nbsp;</p>

            <div id="gpu-0" class="section">
                <h1>GPU</h1>
                <p>&nbsp;</p>

                <p>A graphics processing unit (GPU) is a specialized electronic circuit designed to rapidly manipulate and alter memory to accelerate the creation of images in a frame buffer intended for output to a display device. GPUs are used in embedded systems, mobile phones, personal computers, workstations, and game consoles.</p>
            </div>
            
            <p>&nbsp;</p>

            <div id="gpu-1" class="section">
                <h1>What Does a GPU do?</h1>
                <p>&nbsp;</p>

                <p>The graphics processing unit, or GPU, has become one of the most important types of computing technology, both for personal and business computing. Designed for parallel processing, the GPU is used in a wide range of applications, including graphics and video rendering. Although they’re best known for their capabilities in gaming, GPUs are becoming more popular for use in creative production and artificial intelligence (AI).</p>
                <p>&nbsp;</p>

                <p>GPUs were originally designed to accelerate the rendering of 3D graphics. Over time, they became more flexible and programmable, enhancing their capabilities. This allowed graphics programmers to create more interesting visual effects and realistic scenes with advanced lighting and shadowing techniques. Other developers also began to tap the power of GPUs to dramatically accelerate additional workloads in high performance computing (HPC), deep learning, and more.</p>                
            </div>

            <p>&nbsp;</p>

            <div id="gpu-2" class="section">
                <h1>GPU and CPU: Working Together</h1>
                <p>&nbsp;</p>

                <p>The GPU evolved as a complement to its close cousin, the CPU (central processing unit). While CPUs have continued to deliver performance increases through architectural innovations, faster clock speeds, and the addition of cores, GPUs are specifically designed to accelerate computer graphics workloads. When shopping for a system, it can be helpful to know the role of the CPU vs. GPU so you can make the most of both.</p>
            </div>

            <p>&nbsp;</p>

            <div id="gpu-3" class="section">
                <h1>GPU vs. Graphics Card: What’s the Difference?</h1>
                <p>&nbsp;</p>

                <p>While the terms GPU and graphics card (or video card) are often used interchangeably, there is a subtle distinction between these terms. Much like a motherboard contains a CPU, a graphics card refers to an add-in board that incorporates the GPU. This board also includes the raft of components required to both allow the GPU to function and connect to the rest of the system.</p>
                <p>&nbsp;</p>

                <p>GPUs come in two basic types: integrated and discrete. An integrated GPU does not come on its own separate card at all and is instead embedded alongside the CPU. A discrete GPU is a distinct chip that is mounted on its own circuit board and is typically attached to a PCI Express slot.</p>
            </div>

            <p>&nbsp;</p>

            <div id="gpu-4" class="section">
                <h1>Integrated Graphics Processing Unit</h1>
                <p>&nbsp;</p>

                <p>The majority of GPUs on the market are actually integrated graphics. So, what are integrated graphics and how does it work in your computer? A CPU that comes with a fully integrated GPU on its motherboard allows for thinner and lighter systems, reduced power consumption, and lower system costs.</p>
            </div>

            <p>&nbsp;</p>

            <div id="gpu-5" class="section">
                <h1>What are GPUs used For?</h1>
                <p>&nbsp;</p>

                <p>While Graphics Processing Units (GPUs) are commonly used to render computer graphics for video games, there are a number of uses for GPUs other than gaming. GPUs can be used for video editing, 3D graphics rendering, and much more. With a high processing throughput, GPUs can process more data than their Central Processing Unit (CPU) counterparts, making them uniquely suited for highly demanding tasks such as machine learning and cryptocurrency mining.</p>
                <p>&nbsp;</p>
                
                <p>Uses for GPUs Other Than Gaming:</p>
                <p>&nbsp;</p>
                <ul>
                    <li> Video Editing</li>
                    <li> 3D Graphics Rendering</li>
                    <li> Machine Learning</li>
                    <li> Cryptocurrency Mining</li>
                </ul>
                <p>&nbsp;</p>

                <p>While buying a gpu you should keep your cpu in mind , as cheaping out on a CPU will also reduce performance of your GPU this is called as CPU Bottleneck </p>
            </div>
            
            <p>&nbsp;</p>

            <div id="gpu-6" class="section">
                <h1>CPU Bottleneck</h1>
                <p>&nbsp;</p>

                <p>CPU bottleneck happens when the processor isn’t fast enough to process and transfer data.</p>
                <p>&nbsp;</p>

                <p>A good example of which is to look at an AMD A6 5th gen processor paired with a GTX 1080 Ti  graphics card.</p>
                <p>&nbsp;</p>

                <p>On paper, a GTX 1080 Ti can easily run games with improved graphics details. However, because the A6 processor can’t keep up with the processing speed of the graphics card, a CPU bottleneck happens.</p>
                <p>&nbsp;</p>

                <p>The CPU is what’s responsible for processing real-time game actions, physics, UI, audio and other complex CPU-bound processes. A bottleneck happens if the speed of data transfer is capped. See the image below for a better visual representation of what’s happening when a CPU bottlenecks.</p>
                <p>&nbsp;</p>

                <img src="/images/bottle.jpg" alt="Bottleneck">
            </div>

            <p>&nbsp;</p>

            <div id="cooler-0" class="section">
                <h1>CPU Cooler</h1>
                <p>&nbsp;</p>

                <p>A CPU cooler is a device designed to draw heat away from the system CPU and other components in the enclosure. Using a CPU cooler to lower CPU temperatures improves efficiency and stability of the system. Adding a cooling device, however, can increase the overall noise level of the system.</p>
                <p>&nbsp;</p>

                <p>Different Types of CPU Coolers are:</p>
                <p>&nbsp;</p>
                
                <ul>
                    <li>Air Cooler</li>
                    <li>Liquid Cooler</li>
                </ul>
            </div>

            <p>&nbsp;</p>

            <div id="cooler-1" class="section">
                <h1>Cooling with Air</h1>
                <p>&nbsp;</p>

                <p>In an air cooler, the heat is transferred from the IHS of the CPU, through the applied thermal paste, and into a conductive base plate that is usually made from copper or aluminum. From the baseplate, that thermal energy moves into the attached heat pipes.</p>
                <p>&nbsp;</p>

                <p>The heat pipes are designed to conduct heat from one location to another. In this case, the heat moves to a heatsink that is elevated off of the motherboard, freeing up space for other components, such as RAM. These pipes deliver the energy in the form of heat to the thin metal fins that make up the heatsink. These fins are designed to maximize exposure to the cooler air, which then absorbs the heat from the metal. An attached fan then pushes the warm air away from the heatsink.</p>
                <p>&nbsp;</p>

                <p>The effectiveness of an air cooler can vary, depending on factors such as the materials used in construction (copper is more conductive than aluminum, for example, though aluminum is cheaper) and the size and quantity of fans attached to the CPU heatsink. This explains the variation in the size and design of air-based CPU coolers.</p>
                <p>&nbsp;</p>

                <p>Larger air coolers usually dissipate heat better, but there isn’t always room for a bulky cooling solution, especially in a small form factor PC.</p>
                <p>&nbsp;</p>

                <p>We’ll further explore the advantages of air cooling, but first, let’s go over liquid cooling for the sake of comparison.</p>
            </div>

            <p>&nbsp;</p>

            <div id="cooler-2" class="section">
                <h1>Cooling with Liquid</h1>
                <p>&nbsp;</p>

                <p>As with air coolers, there’s a wide selection of available options, but most fall into two categories: All-in-One (AIO) coolers, or custom cooling loops. We’ll mostly be focusing on All-in-One (AIO) coolers here, though the fundamental principles of how the liquid cools the CPU are the same in both.</p>
                <p>&nbsp;</p>

                <p>Similar to air cooling, the process starts with a baseplate that is connected to the IHS of the CPU with a layer of thermal paste. This allows for better heat transfer between the two surfaces. The metal surface of the baseplate is part of the waterblock, which is designed to be filled with coolant.</p>
                <p>&nbsp;</p>

                <p>The coolant absorbs heat from the baseplate as it moves through the waterblock. It then continues to move through the system and upward through one of two tubes to a radiator. The radiator exposes the liquid to air, which helps it cool, and fans attached to the radiator then move the heat away from the cooler. The coolant then re-enters the waterblock, and the cycle begins again.</p>
            </div>

            <p>&nbsp;</p>

            <div id="cooler-3" class="section">
                <h1>Which Is Right for You?</h1>
                <p>&nbsp;</p>

                <p>Both cooling options are highly effective when properly implemented, but excel in different circumstances. Here are a few factors to consider when making your choice:</p>
                <p>&nbsp;</p>
                
                <ul>
                    <li>Price</li>
                    <li>Size</li>
                    <li>Noise</li>
                    <li>Tempature Regulation</li>
                    <li>Ease of installation</li>
                </ul>
            </div>

            <p>&nbsp;</p>

            <div id="cooler-4" class="section">
                <h1>Make Your Choice</h1>
                <p>&nbsp;</p>

                <p>So, back to the original debate: Liquid cooling vs air cooling. Which is better?</p>
                <p>&nbsp;</p>

                <p>The answer depends on how you use your computer and the performance and workloads you expect to encounter.</p>
                <p>&nbsp;</p>

                <p>If you want almost silent operation, the most efficient cooling, and don’t mind a potentially higher price tag, liquid cooling will fit the bill.</p>
                <p>&nbsp;</p>

                <p>If you’re looking for a solution with more entry-level pricing and simple installation at the potential expense of peak performance or acoustics, air cooling is an easy recommendation.</p>
                <p>&nbsp;</p>

                <p>Consider how you use your PC, and how you plan to use it in the future when making your choice. Though both are excellent solutions, they are designed for slightly different use cases. It’s up to you to decide which is a better fit for how you use your computer.</p>
            </div>

        </div>
    </div>
</body>
</html>