<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/doc.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Source+Sans+Pro:wght@400;600&display=swap">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;600&display=swap" rel="stylesheet">
    <title>Documentation</title>
</head>
<body>



    <header>
        <nav class="topbar">
            <div class="flex-container-left">
            <span class="product-name centre-txt">
                      <h3>PC<span style="color: white;">Builder</span></h3>       
            </span>
    
            <div class="elements flex-container-right">
                <span class="txt-space centre-txt ">
                    <a  href="..">
                        <h3>Build your own PC</h3>
                    </a>
                </span>
                <span class="txt-space centre-txt active">
                    <a  href="">
                        <h3>Documentation</h3>
                    </a>
                </span>
                
                <span class="txt-space centre-txt">
                    <a  href="">
                        <h3>Custom</h3>
                    </a>
                </span>
            </div>
        </div>
        </nav>
    </header>

    <br>
    <br>
    <br>
    <br>


    <div class="container">
        <div class="index">
            <div class="link-str">

                <li><a href="#cpu">CPU</a></li>

                <details>
                    <summary><a href="#mb-0">Motherboard</a></summary>
                    <li><a href="#mb-1">Choosing the right motherboard socket</a></li>
                    <li><a href="#mb-2">Choosing the right chipset</a></li>
                    <li><a href="#mb-3">Anything else you should know?</a></li>
                </details>

                <details>
                    <summary><a href="#gpu-0">GPU</a></summary>
                    <li><a href="#gpu-1">What Does a GPU do?</a></li>
                    <li><a href="#gpu-2">GPU and CPU: Working Together</a></li>
                    <li><a href="#gpu-3">GPU vs. Graphics Card: What’s the Difference?</a></li>
                    <li><a href="#gpu-4">Integrated Graphics Processing Unit</a></li>
                    <li><a href="#gpu-5">What are GPUs used For?</a></li>
                    <li><a href="#gpu-6">CPU Bottleneck</a></li>
                </details>

                <details>
                    <summary><a href="#cooler-0">CPU Cooling</a></summary>
                    <li><a href="#cooler-1">Cooling with Air</a></li>
                    <li><a href="#cooler-2">Cooling with Liquid</a></li>
                    <li><a href="#cooler-3">Which Is Right for You?</a></li>
                    <li><a href="#cooler-4"></a></li>
                </details>

                <details>
                    <summary><a href="#ram-0">RAM</a></summary>
                    <li><a href="#ram-1">Factors to consider before buying</a></li>
                    <li><a href="#memo-0">Memory</a></li>
                    <li><a href="#memo-1">Single Channel vs Dual Channel Memory</a></li>
                    <li><a href="#memo-2">Dual-Channel Doubles Memory Throughput</a></li>
                    <li><a href="#memo-3">Single-Channel vs Dual-Channel RAM: Gaming Performance with the AMD Ryzen 7 3700X</a></li>
                </details>

                <details>
                    <summary><a href="#storage-0">Storage</a></summary>
                    <li><a href="#memo-4">HDD</a></li>
                    <li><a href="#memo-5">SSD</a></li>
                    <li><a href="#memo-6">SSD vs HDD: Speed</a></li>
                </details>

                <details>
                    <summary><a href="#psu-0">Power Supply</a></summary>
                    <li><a href="#psu-1">Get Connected</a></li>
                    <li><a href="#psu-2">How many Watts?</a></li>
                    <li><a href="#psu-3">Protection</a></li>
                    <li><a href="#psu-4">Considering Efficiency</a></li>
                </details>

            </div>
        </div>
        <div class="documentation">

            <div id="cpu" class="section">
                <h1>CPU</h1>
                <p>A central processing unit (CPU), also called a central processor, main processor or just processor, is the electronic circuitry that executes instructions comprising a computer program.</p>
                <p>&nbsp;</p>
                <p>When you are choosing your cpu you should keep your keep your workflow in mind</p>
                <p>&nbsp;</p>
                <table>
                    <tbody>

                        <tr>
                            <th>Parameters</th>
                            <th>Intel</th>
                            <th>AMD</th>
                        </tr>

                        <tr>
                            <td>Gaming</td>
                            <td>✔️</td>
                            <td>✔️</td>
                        </tr>

                        <tr>
                            <td>Content Creation/Productivity</td>
                            <td></td>
                            <td>✔️</td>
                        </tr>

                        <tr>
                            <td>Specifications</td>
                            <td></td>
                            <td>✔️</td>
                        </tr>

                    </tbody>
                </table>
                <p>&nbsp;</p>
                <p>Intel CPUs have advantage in gaming and overclocking and single threaded tasks while AMD has advantage in multi threaded tasks.</p>
                <p>&nbsp;</p>
                <table>
                    <tbody>
                        <tr>
                            <th>Processor Pricing by Family</th>
                            <th>AMD</th>
                            <th>Intel</th>
                        </tr>

                        <tr>
                            <td>Threadripper - Cascade Lake-X</td>
                            <td>$900- $3,750</td>
                            <td>$800 - $1,000 ($2,999)</td>
                        </tr>
                        
                        <tr>
                            <td>AMD Ryzen 9 - Intel Core i9</td>
                            <td>$434 - $799</td>
                            <td>$422 - $549</td>
                        </tr>

                        <tr>
                            <td>AMD Ryzen 7 - Intel Core i7</td>
                            <td>$294 -$449</td>
                            <td>$298 - $409</td>
                        </tr>

                        <tr>
                            <td>AMD Ryzen 5 - Intel Core i5</td>
                            <td>$149 - $299</td>
                            <td>$157 - $272</td>
                        </tr>

                        <tr>
                            <td>AMD Ryzen 3 - Intel Core i3</td>
                            <td>$95 - $120</td>
                            <td>$97 - $154</td>
                        </tr>

                    </tbody>
                </table>
                <p>&nbsp;</p>
                <p>While buying any cpu you should keep in mind that all Intel CPUs have an integrated gpu in them while for AMD only the CPUs with a G as suffix have an integrated gpu so of you buy an AMD CPU like 3600 or 5600x you will need an external GPU.</p>
            </div>

            <p>&nbsp;</p>

            <div id="mb-0" class="section">
                <h1>Motherboard</h1>
                <p>A motherboard (also called mainboard, main circuit board,or mobo) is the main printed circuit board (PCB) in general-purpose computers and other expandable systems. It holds and allows communication between many of the crucial electronic components of a system, such as the central processing unit (CPU) and memory, and provides connectors for other peripherals.</p>
            </div>
            <p>&nbsp;</p>
            <div id="mb-1" class="section">
                <h1>Step 1: Choosing the right motherboard socket</h1>
                <p>While choosing a motherboard the most important factor you should keep in mind is your CPU. Intel and AMD use different sockets for their cpu, for Intel its LGA 1200 and  LGA 1700( for the new Alder Lake / 12th gen CPUs) and for AMD we use the AM4 socket.</p>
                <p>&nbsp;</p>
                <p>Here are all the processors that will fit Intel’s LGA 1200 socket, including both 11th Gen and 10th Gen models:</p>
                
                <p>&nbsp;</p>

                <table>
                    <tbody>

                        <tr>
                            <th>core i3</th>
                            <th>Core i5</th>
                            <th>Core i7</th>
                            <th>Core i9</th>
                        </tr>

                        <tr>
                            <td>Core i3-11320</td>
                            <td>Core i5-11600K</td>
                            <td>Core i7-11700K</td>
                            <td>Core i9-11900K</td>
                        </tr>

                        <tr>
                            <td>Core i3-11300T</td>
                            <td>Core i5-11600KF</td>
                            <td>Core i7-11700KF</td>
                            <td>Core i9-11900KF</td>
                        </tr>

                        <tr>
                            <td>Core i3-11300</td>
                            <td>Core i5-11600</td>
                            <td>Core i7-11700</td>
                            <td>Core i9-11900</td>
                        </tr>

                        <tr>
                            <td>Core i3-11100T</td>
                            <td>Core i5-11500</td>
                            <td>Core i7-10700K</td>
                            <td>Core i9-10900K</td>
                        </tr>

                        <tr>
                            <td>Core i3-11100</td>
                            <td>Core i5-11400</td>
                            <td>Core i7-10700KF</td>
                            <td>Core i9-10900KF</td>
                        </tr>

                        <tr>
                            <td>Core i3-10320</td>
                            <td>Core i5-10600K</td>
                            <td>Core i7-10700</td>
                            <td>Core i9-10900</td>
                        </tr>

                        <tr>
                            <td>Core i3-10300</td>
                            <td>Core i5-10600KF</td>
                            <td>Core i7-10700F</td>
                            <td>Core i9-10900F</td>
                        </tr>

                        <tr>
                            <td>Core i3-10100</td>
                            <td>Core i5-10600</td>
                            <td></td>
                            <td>Core i9-10850K</td>
                        </tr>

                        <tr>
                            <td>i3-10100F</td>
                            <td>Core i5-10500</td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <td></td>
                            <td>Core i5-10400</td>
                            <td></td>
                            <td></td>
                        </tr>

                    </tbody>
                </table>

                <p>&nbsp;</p>
                <p>Here is a list of AM4 friendly parts:</p>
                <p>&nbsp;</p>

                <table>
                    <tbody>

                        <tr>
                            <th>Ryzen 3</th>
                            <th>Ryzen 5</th>
                            <th>Ryzen 7</th>
                            <th>Ryzen 9</th>
                        </tr>

                        <tr>
                            <td>Ryzen 3 3300X</td>
                            <td>Ryzen 5 5600X</td>
                            <td>Ryzen 7 5800X</td>
                            <td>Ryzen 9 5950X</td>
                        </tr>

                        <tr>
                            <td>Ryzen 3 3100</td>
                            <td>Ryzen 5 5600G</td>
                            <td>Ryzen 7 5700G</td>
                            <td>Ryzen 9 5900X</td>
                        </tr>

                        <tr>
                            <td></td>
                            <td>Ryzen 5 3600XT</td>
                            <td>Ryzen 7 3800XT</td>
                            <td>Ryzen 9 3950X</td>
                        </tr>

                        <tr>
                            <td></td>
                            <td>Ryzen 5 3600X</td>
                            <td>Ryzen 7 3800X</td>
                            <td>Ryzen 9 3900XT</td>
                        </tr>

                        <tr>
                            <td></td>
                            <td>Ryzen 9 3900XT</td>
                            <td>Ryzen 7 3700X</td>
                            <td>Ryzen 9 3900X</td>
                        </tr>

                    </tbody>
                </table>

            </div>
       
            <p>&nbsp;</p>
       
            <div id="mb-2" class="section">
                <h1>Step 2: Choosing the right chipset</h1>
                <p>So we’ve narrowed down the type of motherboard socket you need. The next thing is deciding which chipset to go for. This is the circuitry inside the motherboard itself. Without going into too much technical detail, a motherboard’s chipset essentially determines what kind of features it has, including the types of ports and storage connectivity it provides. They’re also usually designed to work with a particular family of processors, and often get released around the same time as their corresponding CPU family.</p>
                <p>&nbsp;</p>
                <p>Intel in particular likes to make things complicated, always launching new chipset series alongside new CPU generations. The most recent of these is the 600 series, which for now is replaced solely by the Z690 chipset, though lower-end alternatives are likely to come later.</p>
                <p>&nbsp;</p>
                <p> You can see in the table below which Intel chipsets are compatible with which Intel CPUs:</p>
                <p>&nbsp;</p>

                <table>
                    <tbody>

                        <tr>
                            <th>Chipset</th>
                            <th>10th Gen Comet Lake</th>
                            <th>11th Gen Rocket Lake</th>
                            <th>12th Gen Alder Lake</th>
                        </tr>

                        <tr>
                            <td>Z690</td>
                            <td>❌</td>
                            <td>❌</td>
                            <td>Yes</td>
                        </tr>
                        
                        <tr>
                            <td>Z590</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>❌</td>
                        </tr>

                        <tr>
                            <td>H570</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>❌</td>
                        </tr>

                        <tr>
                            <td>B560</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>❌</td>
                        </tr>

                        <tr>
                            <td>H510</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>❌</td>
                        </tr>

                        <tr>
                            <td>Z490</td>
                            <td>Yes</td>
                            <td>Yes (may not support PCIe 4.0)</td>
                            <td>❌</td>
                        </tr>

                        <tr>
                            <td>H470</td>
                            <td>Yes</td>
                            <td>Yes (may not support PCIe 4.0)</td>
                            <td>❌</td>
                        </tr>

                        <tr>
                            <td>B460</td>
                            <td>Yes</td>
                            <td>❌</td>
                            <td>❌</td>
                        </tr>

                        <tr>
                            <td>H410</td>
                            <td>Yes</td>
                            <td>❌</td>
                            <td>❌</td>
                        </tr>

                    </tbody>
                </table>

                <p>&nbsp;</p>

                <p>As for AMD, the latest Ryzen 5000 processors didn’t launch with an all-new chipset: they were designed for AMD’s existing 500 series chipsets, which already worked with the Ryzen 3000 family. They're also compatible with some older 400 series chipsets after a BIOS update, but this will vary between motherboards and manufacturers, so be sure to check it definitely has Ryzen 5000 support before you buy.</p>
                <p>&nbsp;</p>

                <p>In other words, you won’t necessarily need to swap out your existing AM4 motherboard if you’re upgrading from Ryzen 3000 to Ryzen 5000, but for most 5000 adopters it’s probably easier to just buy a 500 series board.</p>
                <p>&nbsp;</p>

                <p>Here's how the Ryzen chips work with the Ryzen chipsets:</p>
                <p>&nbsp;</p>

                <table>
                    <tbody>

                        <tr>
                            <th>Chipset</th>
                            <th>Ryzen 3000</th>
                            <th>Ryzen 5000</th>
                        </tr>

                        <tr>
                            <td>X570</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>

                        <tr>
                            <td>B550</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>

                        <tr>
                            <td>A520</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>

                        <tr>
                            <td>X470</td>
                            <td>Yes</td>
                            <td>Selective Beta BIOS update needed</td>
                        </tr>

                        <tr>
                            <td>B450</td>
                            <td>Yes</td>
                            <td>Selective Beta BIOS update needed</td>
                        </tr>

                        <tr>
                            <td>X370</td>
                            <td>Selective Beta BIOS update needed</td>
                            <td>❌</td>
                        </tr>

                        <tr>
                            <td>B350</td>
                            <td>Selective Beta BIOS update needed</td>
                            <td>❌</td>
                        </tr>

                    </tbody>
                </table>
            </div>

            <p>&nbsp;</p>

            <div id="mb-3" class="section">
                <h1>Anything else you should know?</h1>
                <p>&nbsp;</p>
                
                <p>From there, it’s pretty much up to you what kind of extra features you go for. Some motherboards like the Gigabyte X570 Aorus Master have additional overclocking tools, such as an LED troubleshooting display and onboard power/reset buttons, while many more include pre-mounted I/O boards for a neater finish round the back of your PC.</p>
                <p>&nbsp;</p>
                
                <p>It probably goes without saying that you should also pick a motherboard that actually fits inside your intended case. There’s no point buying an ATX-size motherboard when you’ve got a small form-factor or mini-tower case, nor is there much sense in buying a jumbo full tower case for a tiddly mini-ITX motherboard.</p>
                <p>&nbsp;</p>

                <p>As to whether PCIe 4.0 support is a must-have… I’d say not at this exact moment, mainly because you can get some excellent PCIe 3.0 SSDs (like the WD Blue SN570) that are plenty fast enough. Both 3.0 and 4.0 SSDs will also be able to play nice with DirectStorage, an exciting piece of Microsoft tech that could see loading times in games slashed to ribbons. It’s not actually supported in any games yet, but you won’t have to base your motherboard choice on it.</p>
                <p>&nbsp;</p>

                <p>Of course, PCIe 4.0 is still faster in general, and if you’ve buying an Intel 12th Gen Alder Lake CPU, you should get 4.0 support as standard, whatever motherboard you pair it with.</p>
            </div>

            <p>&nbsp;</p>

            <div id="gpu-0" class="section">
                <h1>GPU</h1>
                <p>&nbsp;</p>

                <p>A graphics processing unit (GPU) is a specialized electronic circuit designed to rapidly manipulate and alter memory to accelerate the creation of images in a frame buffer intended for output to a display device. GPUs are used in embedded systems, mobile phones, personal computers, workstations, and game consoles.</p>
            </div>
            
            <p>&nbsp;</p>

            <div id="gpu-1" class="section">
                <h1>What Does a GPU do?</h1>
                <p>&nbsp;</p>

                <p>The graphics processing unit, or GPU, has become one of the most important types of computing technology, both for personal and business computing. Designed for parallel processing, the GPU is used in a wide range of applications, including graphics and video rendering. Although they’re best known for their capabilities in gaming, GPUs are becoming more popular for use in creative production and artificial intelligence (AI).</p>
                <p>&nbsp;</p>

                <p>GPUs were originally designed to accelerate the rendering of 3D graphics. Over time, they became more flexible and programmable, enhancing their capabilities. This allowed graphics programmers to create more interesting visual effects and realistic scenes with advanced lighting and shadowing techniques. Other developers also began to tap the power of GPUs to dramatically accelerate additional workloads in high performance computing (HPC), deep learning, and more.</p>                
            </div>

            <p>&nbsp;</p>

            <div id="gpu-2" class="section">
                <h1>GPU and CPU: Working Together</h1>
                <p>&nbsp;</p>

                <p>The GPU evolved as a complement to its close cousin, the CPU (central processing unit). While CPUs have continued to deliver performance increases through architectural innovations, faster clock speeds, and the addition of cores, GPUs are specifically designed to accelerate computer graphics workloads. When shopping for a system, it can be helpful to know the role of the CPU vs. GPU so you can make the most of both.</p>
            </div>

            <p>&nbsp;</p>

            <div id="gpu-3" class="section">
                <h1>GPU vs. Graphics Card: What’s the Difference?</h1>
                <p>&nbsp;</p>

                <p>While the terms GPU and graphics card (or video card) are often used interchangeably, there is a subtle distinction between these terms. Much like a motherboard contains a CPU, a graphics card refers to an add-in board that incorporates the GPU. This board also includes the raft of components required to both allow the GPU to function and connect to the rest of the system.</p>
                <p>&nbsp;</p>

                <p>GPUs come in two basic types: integrated and discrete. An integrated GPU does not come on its own separate card at all and is instead embedded alongside the CPU. A discrete GPU is a distinct chip that is mounted on its own circuit board and is typically attached to a PCI Express slot.</p>
            </div>

            <p>&nbsp;</p>

            <div id="gpu-4" class="section">
                <h1>Integrated Graphics Processing Unit</h1>
                <p>&nbsp;</p>

                <p>The majority of GPUs on the market are actually integrated graphics. So, what are integrated graphics and how does it work in your computer? A CPU that comes with a fully integrated GPU on its motherboard allows for thinner and lighter systems, reduced power consumption, and lower system costs.</p>
            </div>

            <p>&nbsp;</p>

            <div id="gpu-5" class="section">
                <h1>What are GPUs used For?</h1>
                <p>&nbsp;</p>

                <p>While Graphics Processing Units (GPUs) are commonly used to render computer graphics for video games, there are a number of uses for GPUs other than gaming. GPUs can be used for video editing, 3D graphics rendering, and much more. With a high processing throughput, GPUs can process more data than their Central Processing Unit (CPU) counterparts, making them uniquely suited for highly demanding tasks such as machine learning and cryptocurrency mining.</p>
                <p>&nbsp;</p>
                
                <p>Uses for GPUs Other Than Gaming:</p>
                <p>&nbsp;</p>
                <ul>
                    <li> Video Editing</li>
                    <li> 3D Graphics Rendering</li>
                    <li> Machine Learning</li>
                    <li> Cryptocurrency Mining</li>
                </ul>
                <p>&nbsp;</p>

                <p>While buying a gpu you should keep your cpu in mind , as cheaping out on a CPU will also reduce performance of your GPU this is called as CPU Bottleneck </p>
            </div>
            
            <p>&nbsp;</p>

            <div id="gpu-6" class="section">
                <h1>CPU Bottleneck</h1>
                <p>&nbsp;</p>

                <p>CPU bottleneck happens when the processor isn’t fast enough to process and transfer data.</p>
                <p>&nbsp;</p>

                <p>A good example of which is to look at an AMD A6 5th gen processor paired with a GTX 1080 Ti  graphics card.</p>
                <p>&nbsp;</p>

                <p>On paper, a GTX 1080 Ti can easily run games with improved graphics details. However, because the A6 processor can’t keep up with the processing speed of the graphics card, a CPU bottleneck happens.</p>
                <p>&nbsp;</p>

                <p>The CPU is what’s responsible for processing real-time game actions, physics, UI, audio and other complex CPU-bound processes. A bottleneck happens if the speed of data transfer is capped. See the image below for a better visual representation of what’s happening when a CPU bottlenecks.</p>
                <p>&nbsp;</p>

                
            </div>

            <p>&nbsp;</p>

            <div id="cooler-0" class="section">
                <h1>CPU Cooler</h1>
                <p>&nbsp;</p>

                <p>A CPU cooler is a device designed to draw heat away from the system CPU and other components in the enclosure. Using a CPU cooler to lower CPU temperatures improves efficiency and stability of the system. Adding a cooling device, however, can increase the overall noise level of the system.</p>
                <p>&nbsp;</p>

                <p>Different Types of CPU Coolers are:</p>
                <p>&nbsp;</p>
                
                <ul>
                    <li>Air Cooler</li>
                    <li>Liquid Cooler</li>
                </ul>
            </div>

            <p>&nbsp;</p>

            <div id="cooler-1" class="section">
                <h1>Cooling with Air</h1>
                <p>&nbsp;</p>
                <a ><img src="images/cpu_heatspreader.png"></a>
                <p>In an air cooler, the heat is transferred from the IHS of the CPU, through the applied thermal paste, and into a conductive base plate that is usually made from copper or aluminum. From the baseplate, that thermal energy moves into the attached heat pipes.</p>
                <p>&nbsp;</p>

                <p>The heat pipes are designed to conduct heat from one location to another. In this case, the heat moves to a heatsink that is elevated off of the motherboard, freeing up space for other components, such as RAM. These pipes deliver the energy in the form of heat to the thin metal fins that make up the heatsink. These fins are designed to maximize exposure to the cooler air, which then absorbs the heat from the metal. An attached fan then pushes the warm air away from the heatsink.</p>
                <p>&nbsp;</p>
                <a ><img src="images/heatsink.png"></a>
                <p>The effectiveness of an air cooler can vary, depending on factors such as the materials used in construction (copper is more conductive than aluminum, for example, though aluminum is cheaper) and the size and quantity of fans attached to the CPU heatsink. This explains the variation in the size and design of air-based CPU coolers.</p>
                <p>&nbsp;</p>

                <p>Larger air coolers usually dissipate heat better, but there isn’t always room for a bulky cooling solution, especially in a small form factor PC.</p>
                <p>&nbsp;</p>

                <p>We’ll further explore the advantages of air cooling, but first, let’s go over liquid cooling for the sake of comparison.</p>
            </div>

            <p>&nbsp;</p>

            <div id="cooler-2" class="section">
                <h1>Cooling with Liquid</h1>
                <p>&nbsp;</p>
                <a ><img src="images/AIO.png"></a>
                <p>As with air coolers, there’s a wide selection of available options, but most fall into two categories: All-in-One (AIO) coolers, or custom cooling loops. We’ll mostly be focusing on All-in-One (AIO) coolers here, though the fundamental principles of how the liquid cools the CPU are the same in both.</p>
                <p>&nbsp;</p>

                <p>Similar to air cooling, the process starts with a baseplate that is connected to the IHS of the CPU with a layer of thermal paste. This allows for better heat transfer between the two surfaces. The metal surface of the baseplate is part of the waterblock, which is designed to be filled with coolant.</p>
                <p>&nbsp;</p>

                <p>The coolant absorbs heat from the baseplate as it moves through the waterblock. It then continues to move through the system and upward through one of two tubes to a radiator. The radiator exposes the liquid to air, which helps it cool, and fans attached to the radiator then move the heat away from the cooler. The coolant then re-enters the waterblock, and the cycle begins again.</p>
            </div>

            <p>&nbsp;</p>

            <div id="cooler-3" class="section">
                <h1>Which Is Right for You?</h1>
                <p>&nbsp;</p>

                <p>Both cooling options are highly effective when properly implemented, but excel in different circumstances. Here are a few factors to consider when making your choice:</p>
                <p>&nbsp;</p>
                
                <ul>
                    <li>Price</li>
                    <li>Size</li>
                    <li>Noise</li>
                    <li>Tempature Regulation</li>
                    <li>Ease of installation</li>
                </ul>
            </div>

            <p>&nbsp;</p>

            <div id="cooler-4" class="section">
                <h1>Make Your Choice</h1>
                <p>&nbsp;</p>

                <p>So, back to the original debate: Liquid cooling vs air cooling. Which is better?</p>
                <p>&nbsp;</p>

                <p>The answer depends on how you use your computer and the performance and workloads you expect to encounter.</p>
                <p>&nbsp;</p>

                <p>If you want almost silent operation, the most efficient cooling, and don’t mind a potentially higher price tag, liquid cooling will fit the bill.</p>
                <p>&nbsp;</p>

                <p>If you’re looking for a solution with more entry-level pricing and simple installation at the potential expense of peak performance or acoustics, air cooling is an easy recommendation.</p>
                <p>&nbsp;</p>

                <p>Consider how you use your PC, and how you plan to use it in the future when making your choice. Though both are excellent solutions, they are designed for slightly different use cases. It’s up to you to decide which is a better fit for how you use your computer.</p>
            </div>

            <p>&nbsp;</p>

            <div id="ram-0" class="section">
                <h1>RAM</h1>
                <p>&nbsp;</p>

                <p>Random-access memory (RAM) is a form of computer memory that can be read and changed in any order, typically used to store working data and machine code. A random-access memory device allows data items to be read or written in almost the same amount of time irrespective of the physical location of data inside the memory, in contrast with other direct-access data storage media (such as hard disks, CD-RWs, DVD-RWs and the older magnetic tapes and drum memory), where the time required to read and write data items varies significantly depending on their physical locations on the recording medium, due to mechanical limitations such as media rotation speeds and arm movement.</p>
            </div>

            <p>&nbsp;</p>

            <div id="ram-1" class="section">
                <h1>Factors to consider before buying:</h1>
                <p>&nbsp;</p>

                <ul>
                    <li><h2>Frequency</h2></li>
                    <p>Your motherboard will only accept certain frequencies of RAM, such as up to DDR3 1600MHz for example. Pick faster memory and you'll be forced to run it at a slower pace or it might not work at all. Pick slower memory and you will limit your system performance. As a general rule of thumb, higher frequency means higher performance, but other factors such as timings weigh in too.</p>
                    <p>&nbsp;</p>

                    <li><h2>Amount of RAM needed</h2></li>
                    <p>That really depends on the needs, although I tend to recommend at least 2GB for any system, 4GB for a high-performance system. 4GB to 6GB is a must for a gaming RAM system if the user wants to run modern games. The more the better, especially considering the current low prices of RAM.</p>
                    <p>&nbsp;</p>
                    <p>In case the user is building a new system, 8GB of RAM has become a standard. However, if the user ise building a system for gaming then 16GB to about 32GB of RAM should be ok. If one is building a system for production work, then would suggest 32GB or even higher so that programs can load faster. Dual-channel RAM is also a deciding factor when it comes to amount of RAM needed</p>
                    <p>&nbsp;</p>

                    <li><h2>Warranty</h2></li>
                    <p>Some manufacturers offer a lifetime warranty. Some let you increase the voltage under warranty. RAM tends to be faulty when you reuse it after several years, so it's a good idea to buy it from a vendor who allows for an easy and painless RAM process.</p>
                </ul>
            </div>

            <p>&nbsp;</p>

            <div class="section" id="memo-0">
                <h1>Memory</h1>
            </div>

            <p>&nbsp;</p>

            <div class="section" id="memo-1">
                <h1>Single Channel vs Dual Channel Memory</h1>
                <p>&nbsp;</p>
                <p>RAM communicates with the CPU through the memory controller on the CPU. Most modern motherboards have two 64-bit (total 128-bit) channels between the CPU and memory. In a single-channel configuration, only one of them is functional. This limits memory throughput to the rated speed of the slowest single RAM module installed.</p>
                <p>&nbsp;</p>
                <p>In dual-channel memory configurations, the memory controller uses both channels to communicate with the CPU, essentially doubling the bandwidth. But what about multi-channel configurations? Technically, quad-channel systems exist, but they’re mainly found on server-centric and exotic boards. For most people, multi-channel means dual-channel memory.</p>
            </div>

            <p>&nbsp;</p>

            <div class="section" id="memo-2">
                <h1>Dual-Channel Doubles Memory Throughput</h1>
                <p>&nbsp;</p>
                
                <p>Single-channel 2133 MHz DDR4 delivers 17 GB/s of memory bandwidth. If you have a pair of 2133 MHz DDR4 modules in dual-channel, your memory bandwidth doubles to 34 GB/s. The only way to hit that level of performance in single-channel mode is to use memory modules running at 4000 MHz or higher.</p>
                <p>&nbsp;</p>
                
                <p>We have to stress an important point here: you need RAM modules in multiples of two in order to utilize dual-channel. Most budget to midrange boards will either have two or four memory slots. I had a Gigabyte B450 DS3H with 4 memory slots and dual-channel support. If you have two slots and your motherboard supports dual-channel, setting it up is often as easy as just inserting a second memory module and booting up.</p>
                <p>&nbsp;</p>

                <a ><img src="images/cpuz-dualchannel.png"></a>

                <p>If you’re not sure about whether or not dual-channel is enabled, download CPU-Z, then click on the memory tab. It’ll mention whether you’re running your memory in a dual or single-channel configuration.</p>
            </div>
            
            <p>&nbsp;</p>



            <div class="section" id="memo-3">
                <h1>Single-Channel vs Dual-Channel RAM: Gaming Performance with the AMD Ryzen 7 3700X</h1>
                <p>&nbsp;</p>
                
                <p>What’s the performance difference between single-channel and dual-channel memory? It varies from game to game, but several titles show a significant increase in your minimum and average frame rates with a dual-channel configuration. The Assassin’s Creed series and Fallout 4 are notable examples. As already mentioned, Assassin’s Creed Origins and Assassin’s Creed Odyssey are nearly unplayable on PC without a dual-channel memory config.</p>
                <p>&nbsp;</p>
                <a ><img src="images/acoscperf.png"></a>
                <p>At first sight, the difference may not look like much. After all, the average frame rates aren’t affected by much, but the lows and frame pacing take a big hit. The CPU latency in single-channel increases by a whopping 50%. This is because there is only one 64-bit channel between the CPU and memory (in dual-channel, there are two)</p>
                <p>&nbsp;</p>
                <a ><img src="images/acodcperf.png"></a>
                <p>Other games like The Division 2 and Shadow of the Tomb Raider have an even lesser impact on average frame rates but the lows and consistency are affected drastically.</p>
                <p>&nbsp;</p>
                <a ><img src="images/tcdscperf.png"></a>
                <p>In single-channel mode, the frame rate drops below 60 quite often in Division 2 but in dual-channel, it stays over 60 throughout the duration of the benchmark. The FPS drops are fewer and the 1% lows are particularly higher. This directly translates into smoother gameplay and fewer bouts of anger.</p>
                <a ><img src="images/tcddcperf.png"></a>
            </div>

            <p>&nbsp;</p>

            <div class="section" id="storage-0">
                <h1>STORAGE</h1>

            <div class="section" id="memo-4">
                <h1>HDD</h1>
                <p>&nbsp;</p>

                <p>An HDD is a data storage device that lives inside the computer. It has spinning disks inside where data is stored magnetically. The HDD has an arm with several "heads" (transducers) that read and write data on the disk. It is similar to how a turntable record player works, with an LP record (hard disk) and a needle on an arm (transducers). The arm moves the heads across the surface of the disk to access different data.</p>
                <p>&nbsp;</p>

                <p>HDDs are considered a legacy technology, meaning they’ve been around longer than SSDs. In general, they are lower in cost and are practical for data that does not need to be accessed frequently, such as backups of photos, videos or business files. They are available in two common form factors: 2.5 inch (commonly used in laptops) and 3.5 inch (desktop computers).</p>
            </div>

            <p>&nbsp;</p>

            <div class="section" id="memo-5">
                <h2>SSD</h2>
                <p>&nbsp;</p>

                <p>SSDs got their name—solid state—because they use solid state devices under the hood. In an SSD, all data is stored in integrated circuits. This difference from HDDs has a lot of implications, especially in size and performance. Without the need for a spinning disk, SSDs can reduce to the shape and size of a stick of gum (what’s known as the M.2 form factor) or even as small as a postage stamp. Their capacity—or how much data they can hold—varies, making them flexible for smaller devices, such as slim laptops, convertibles, or 2 in 1s. And SSDs dramatically reduce access time since users don’t have to wait for platter rotation to start up.</p>
                <p>&nbsp;</p>

                <p>SSDs are more expensive than HDDs per amount of storage (in gigabytes (GB) and terabytes (TB)), but the gap is closing as SSD prices decline at a faster pace that HDD prices year over year.</p>
            </div>

            <p>&nbsp;</p>

            <div class="section" id="memo-6">
                <h1>SSD vs. HDD: Speed</h1>
                <p>&nbsp;</p>

                <p>What makes SSDs an increasingly popular choice is their speed. Across the board, SSDs outpace HDDs because they use electrical circuitry and have no physical moving parts. This leads to shorter wait times when you’re starting up and fewer delays when opening apps or doing heavy computing tasks. For example, the Intel SSD D5-P5316 is a 15.36TB enterprise-grade SSD that offers over 7000 MB/s in bandwidth. The 14TB Seagate Exos 2x14, a compatible HDD, offers only up to 500 MB/s in bandwidth. That’s a difference of 14 times.</p>
                <p>&nbsp;</p>

                <p>These faster speeds lead to performance benefits in several areas, such as when logging in and waiting for apps and services to start up, or when performing storage-intensive tasks such as copying a large file. With an HDD, performance slows significantly, while an SSD can continue to work on other tasks.</p>
                <p>&nbsp;</p>

                <p>Speed is also influenced by the interface used in an SSD vs. HDD that connects to the rest of the computer system when transferring data back and forth. You might have heard of these interfaces—SATA and PCI Express (PCIe). SATA is an older, slower, legacy technology, while PCIe is newer and faster. SSDs with PCIe interfaces will typically be much faster than HDDs with SATA because PCIe contains more channels to transfer data. Think of it like the number of cars that can go down a one-lane country road compared to a four lane highway.</p>
                <p>&nbsp;</p>

                <p>Although no one ever complains that their computer is too fast, there are times when an HDD can make sense. If you have terabytes of files that you want to store, HDDs are still a less expensive option, although that’s changing with increasingly lower SSD prices and newer NAND technologies driving bit densities higher per NAND die. Computer storage decisions can be simplified by thinking of data as either cold or hot. “Cold” data might include the years of photos you want to keep on your laptop but don’t look at every day and don’t need quick access to. HDDs can be an excellent, cost-effective choice for cold data. At the other end of the spectrum, if you’re a business running real-time transactions, editing videos and photos and need fast access to a database of files, video clips, or models, or even just running the operating system, that’s referred to as “hot” data. The fast performance of SSDs makes them an ideal choice for when speedy access to your data is what matters most.</p>
            </div>

            <p>&nbsp;</p>

            <div class="section" id="psu-0">
                <h1>PSU</h1>
                <p>&nbsp;</p>

                <p>A power supply unit (PSU) converts mains AC to low-voltage regulated DC power for the internal components of a computer. Modern personal computers universally use switched-mode power supplies. Some power supplies have a manual switch for selecting input voltage, while others automatically adapt to the mains voltage.</p>
                <p>&nbsp;</p>

                <p>Power supplies are often overlooked, but they are a vital component in any desktop PC. We’re going to cover the basics, so you know what to look for when selecting a new PSU.</p>
                <p>&nbsp;</p>
                
                <p>The Power Supply Unit (PSU) might not be the most frequently discussed PC component, but it’s a critical piece of any desktop. Supplying power to your entire system is an extremely important role, and using the wrong one could be costly.</p>
                <p>&nbsp;</p>

                <p>That’s why we’re going to cover the basics of power supplies, and provide you with the information you need to understand why having the right PSU is important, and why simply settling for the cheapest option is not the best solution.</p>
            </div>

            <p>&nbsp;</p>

            <div class="section" id="psu-1">
                <h1>Get Connected</h1>
                <p>&nbsp;</p>

                <p>Let’s kick things off by going over the different cables power supplies use to provide power to your system.</p>
                <p>&nbsp;</p>

                <p>Though the PSU you purchase should come with all of the cables you need, it’s worth knowing what the individual connections look like. The exact cables you’ll use will vary depending on the specifics of your build, but you’ll most likely be dealing with the following:</p>
                <p>&nbsp;</p>

                <ul>
                    <li><strong>24-pin Motherboard:</strong> The way power is allocated varies from motherboard to motherboard, but the 24-pin connector/cable is frequently used to power important features such as the chipset and PCIe*.</li>
                    <li><strong>4/8-pin CPU:</strong> This connector provides power to your CPU. Modern CPUs draw more power than the 24-pin motherboard configuration can provide, which is why the additional 4/8 pin cable came into use. Though it can vary depending on the manufacturer, the CPU cable usually plugs into the top left side of the motherboard, near the I/O on a standard layout.</li>
                    <li><strong>6/8 pin (PCIe*/GPU):</strong> Some GPUs draw enough power from the PCIe* slot, while others require a specific power cable configuration to operate properly. Most PSUs address this required flexibility by providing cables that can be used in a variety of combinations, some of which include 6, 8, 6+6, 8+6, and 8+8, and even 8+8+8 pin connectors. PSUs will often provide multiple connections on a single cable to avoid having to run additional wires, and for the vast majority of users, this will function the same as running multiple cables. Be sure to double-check that your power supply has the connections you need for your GPU before purchasing.</li>
                    <li><strong>SATA Power:</strong> This connector is used to provide power to SATA storage devices. Other devices have since adopted the standard as well, such as RGB hubs and fan controllers. Many PSUs have multiple SATA connections on one cable to reduce the amount of cables required.</li>
                    <li><strong>4-pin Molex:</strong> This is an increasingly rare legacy connector that has mostly been replaced by SATA. Molex connectors are usually found on less common accessories, such as water cooling pumps.</li>
                    <a ><img src="images/8pingpu.png"></a>
                </ul>
            </div>

            <p>&nbsp;</p>

            
            <div class="section" id="psu-2">
                <h1>How Many Watts?</h1>
                <p>&nbsp;</p>

                <p>When selecting a new PSU, one of the most common questions asked is, “How many watts is enough?” As is often the case in the world of PC hardware, the answer varies widely depending on the unique needs of your system.</p>
                <p>&nbsp;</p>

                <p>Generally, more complex systems require more power to run. A desktop with a custom liquid cooling loop, a high-end motherboard, and dual GPUs is going to need a higher wattage computer power supply than a simpler system.</p>
                <p>&nbsp;</p>

                <p>It’s impossible to give an exact recommendation without knowing specifically what hardware you’re working with, but using a PSU Wattage Calculator, or determining the power draw of your different internal components and adding that together, can give insight into how many watts you need.</p>
                <p>&nbsp;</p>

                <p>As a general rule, it’s better to err on the side of higher wattage rather than trying to match your needs exactly. If you’ve calculated that your system is going to use 500 watts (a common number for a straightforward gaming build), choosing a PSU with 600 or 650-watt output could be a good option, as it will give you some overhead to work with, and also allow for potential future upgrades.</p>
                <p>&nbsp;</p>

                <p>Keep this in mind when considering higher wattage PSUs: a 750-watt power supply does not consume 750 watts by default. If your system is drawing 500 watts, your power supply will supply 500 watts, regardless of maximum capable output. Higher wattage output doesn’t necessarily mean more energy consumed; it means it has the ability to provide more power if your system demands it. That said, there’s no real advantage to having a vastly overpowered PSU if your system doesn’t need it, so you might be better served selecting a feature-rich, high-efficiency PSU that is closer to the wattage you require.</p>
                <p>&nbsp;</p>

                <p>You’ll also want to consider the continuous power versus the peak power capabilities of your new PSU. Peak power is the maximum amount of power the PSU can output for short periods of time, whereas continuous power refers to the amount of power the PSU is designed to output on a regular basis. Peak power is usually reached when pushing your system to its limits, like when you’re running demanding games or performing hardware benchmarks.</p>
                <p>&nbsp;</p>

                <p>If there is a sudden demand for more power, your PSU should be able to handle the higher output briefly, but should not be expected to run at those higher wattages continuously. Always make sure the PSU you purchase has sufficiently high continuous power output, and don’t choose solely by peak power capabilities.</p>            </div>
            </div>

            <p>&nbsp;</p>

            <div class="section" id="psu-3">
                <h1>Protection</h1>
                <p>&nbsp;</p>

                <p>As you'd expect from anything that deals with large amounts of power, system safety is a concern. A good power supply should have fail-safes built in — not just to protect the PSU itself, but also to keep your system safe in case of something unexpected, like a power surge. The power supply and the motherboard are the only PC components that directly connect to almost every other piece of hardware in your system. Because of the unique position of the PSU in the PC’s layout, making sure it has built-in protection can help keep the rest of your hardware safe as well.</p>
                <p>&nbsp;</p>

                <p>It’s worth noting whether the power supply you’re looking at has built-in protection, like OVP (Over Voltage Protection), which shuts down the PSU if excessive voltage is detected. Other safety features include functions like short circuit protection, which can be hugely beneficial if you encounter power fluctuations.</p>
                <p>&nbsp;</p>

                <p>You’ll also want to plug in your PC to a surge protector. These hardware-saving devices are designed to add another layer of protection to your system by diverting potentially damaging power surges away from your valuable components.</p>
            </div>

            <p>&nbsp;</p>


            <div class="section" id="psu-4">
                <h1>Consider Efficiency</h1>
                <p>&nbsp;</p>

                <p>Wattage is certainly an important consideration when choosing a desktop power supply, but so is PSU efficiency. Inefficient delivery leads to wasted power and more heat, which can potentially decrease the lifespan of your components.</p>
                <p>&nbsp;</p>

                <p>Because this is such an important consideration, there’s a relatively straightforward independent rating system in place. You might have noticed the “80 Plus” rating on many power supplies, often listed alongside a precious metal. To receive this rating, a power supply must be at least 80 percent efficient, meaning that a maximum of 20 percent of power is lost as heat.</p>
                <p>&nbsp;</p>

                <p>This efficiency rating is determined by performance in a 115-volt system, and the ratings are further increased as you go up the ladder of precious metals.</p>
                <p>&nbsp;</p>

                <p>These include:</p>

                <ul>
                    <li>80 Plus</li>
                    <li>80 PLUS Bronze</li>
                    <li>80 PLUS Silver</li>
                    <li>80 PLUS Gold</li>
                    <li>80 PLUS Platinum</li>
                    <li>80 PLUS Titanium</li>
                </ul>
                <p>&nbsp;</p>

                <p>The more efficient your PSU, the less power it uses, and the less heat it generates. That said, higher efficiency usually means a higher price, so you’ll want to find the balance that works for you.</p>
                <p>&nbsp;</p>

                <p>Even the most efficient PSU will still generate heat, however, and most use fans to disperse that heat. Many power supplies are designed so that the fan will only turn on when it needs to — that is, when the PSU hits a certain threshold. Features like these help to reduce noise.</p>
                <p>&nbsp;</p>

                <p>For those who are interested in taking things to the very edge of practicality, there are even liquid-cooled power supplies for a truly silent experience.</p>
                <a ><img src="images/PSUe.png"></a>
            </div>


            <div>
                
            </div>

        </div>
    </div>
</body>
</html>