<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose AMD cpu</title>
</head>
<body>
    <h1>Choose CPU:</h1>
    <ul>
        <% cpus.cpu.forEach(element => { %>
            <% if(element.brand=="AMD" && element.cores>=6 && element.multithreading==true && element.tdp<=105 && !element.model.includes('nm')){ %>
                <li><a href="/amd/cpu/<%= element.model %>/motherboards"><%= element.model %></a></li> 
        <% }}); %> 
    </ul>
</body>
</html>