*{
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}


.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #1F1B22;
    color: white;
    height: 60px;
    font-family: 'Source Sans Pro', sans-serif;
    position: sticky;
}
.navbarItem{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.navbarItem>li{
    
    list-style: none;

}

.containerRight{
    display: flex;
    
}

.center>a{
    margin-left: 50px;
    text-decoration: none;
    color: white;
}

.center>a>i{
    margin-left: 3px;
}

.left{
    margin-left: 15px;
    margin-top: 7px;
}

.center{
    display: flex;
  align-items: center;
  font-size: 20px;
  margin-left: -10rem;
   
}




.center>a:hover{
    color: #c165e2;
}

.right{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    font-size: 20px;
}

.right>.containerRight>i{
margin-left: 25px;
margin-top: 5px;

}

/* image 1 */




.right>.containerRight>a{
    text-decoration: none;
    color: white;
}

.right>.containerRight>a:hover{
    color: #c165e2;
}



.spanTitle{
    color: #AC52CC;
}


.header{
    display: flex;
    height: 100vh ;

}

.header>.leftHeder>img{
    position: relative;
    

}

.leftHeaderText{
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: 40px;
    color:#1F1B22;
    

}

.leftHeader{
    flex: 5;
    padding: 5px;
    margin-left: 50px;
}


.header>.rightHeader{

display: flex;
flex-direction: column;
align-items: center;
justify-content: start;
flex: 7;

}

.buildButton{
    width: 30rem;
    height: 5rem;
    position: relative;
    top: 12rem;
    right: 4rem;
    border-radius: 15px;
    font-family: 'Lora', serif;
    font-weight: 600;
    font-size: 20px;
    background-color: rgb(247, 247, 247);
    color: #1F1B22;
    border: 1px solid gray;
    cursor: pointer;
}