body{
    font-family: 'JetBrains Mono', monospace;
}
.topbar{
    background-color: rgb(0, 0, 0);
    line-height: 25%;
   
    font-size: 15px;
    font-style: normal;
    color: white;
    margin:0px;
    padding: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px; 
       
}
.elements a{
    color: white;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
}
.elements span:hover{
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgb(60, 62, 143);
    border-radius: 20px;
}
.elements .active{
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgb(60, 62, 143);
    border-radius: 20px;
}
.flex-container-left{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 40px;
    
}
.flex-container-right{
    display: flex;
    flex-direction: row;
    flex-wrap: space-between;
    padding-right: 5%;    
    
}
header{
    display: inline;
    
}
.txt-space{
    padding-left: 25px; 
    padding-right: 25px;
}
.product-name{
    font-size: 25px;   
    font-family: 'Jetbrains Mono',monospace;
    font-weight: bolder;
    color: rgb(134, 136, 255);
}
.centre-txt{
    display: flex;
    align-items: center;
}

.build-sec{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
/* .mainpic{
    
    width: 45vw;
    max-width: 60vw;
    min-width: 600px;
    height: auto;
    border: 10%;
    background-color: rgb(134, 136, 255);
    border-radius: 30px;
}*/
.build-sec{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    padding-right: 200px;
    margin: 10px;
}
.build-pictxt{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}
.pre-cust-sec{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    margin-right: 10px;
    margin-left: 10px;
}
.image_cust_doc{
    width:500px;
    height: auto;
    margin: 30px;
}
@media screen and (min-width: 1271px){
    .vl{
        border-right: 2px solid rgb(22, 25, 151);
        height: 600px; 
        padding: 0px;
        margin: 0px;
        rotate: 0;
    
    }
}
@media screen and (max-width: 1271px){
    .hl{
        border-top: 2px solid rgb(22, 25, 151);
        width: 100%; 
        padding: 0px;
        margin: 0px;
        rotate: 0;
     
     }
}
